* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(55, 65, 81);
}

h1 {
  font-size: 3rem;
}

a {
  text-decoration: none;
  color: rgb(219, 234, 254);
}
a:hover {
  color: rgb(156, 163, 175);
  border-top: 1px solid rgb(156, 163, 175);
}

.cadastroFornecedores {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
}
.cadastroFornecedores h1 {
  color: rgb(37, 99, 235);
  margin-top: 5rem;
}
.cadastroFornecedores form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}
.cadastroFornecedores form .wrapper {
  width: 100%;
}
.cadastroFornecedores form .wrapper .input {
  width: 50%;
}
.cadastroFornecedores form .editor {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.cadastroFornecedores form .editor .dropdownWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 2.5rem;
}
.cadastroFornecedores form .editor .dropdownWrapper .dropdown {
  height: 3rem;
  width: 100%;
  font-size: 1.2rem;
}
.cadastroFornecedores form .editor .botoes {
  width: 100%;
  margin-bottom: 1.5rem;
}
.cadastroFornecedores form .botoes {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
}
.cadastroFornecedores form .botoes .button {
  width: 33%;
  font-size: 1.2rem;
}

.cadastroContatos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
}
.cadastroContatos h1 {
  color: rgb(37, 99, 235);
  margin-top: 5rem;
}
.cadastroContatos form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid rgb(156, 163, 175);
  width: 80%;
}
.cadastroContatos form .wrapper {
  width: 100%;
}
.cadastroContatos form .wrapper .input {
  width: 50%;
}
.cadastroContatos form .editor {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.cadastroContatos form .editor .dropdownWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 3.5rem;
}
.cadastroContatos form .editor .dropdownWrapper .dropdown {
  height: 3rem;
  width: 100%;
  font-size: 1.2rem;
}
.cadastroContatos form .editor .botoes {
  width: 100%;
  margin-bottom: 1rem;
}
.cadastroContatos form .botoes {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
}
.cadastroContatos form .botoes .button {
  width: 33%;
  font-size: 1.2rem;
}
.cadastroContatos .dropdownWrapper {
  width: 80%;
}
.cadastroContatos .dropdownWrapper .dropdown {
  height: 3rem;
  width: 50%;
  font-size: 1.2rem;
}

.cadastroProdutos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
}
.cadastroProdutos h1 {
  color: rgb(37, 99, 235);
  margin-top: 5rem;
}
.cadastroProdutos form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}
.cadastroProdutos form .wrapper {
  width: 100%;
}
.cadastroProdutos form .wrapper .input {
  width: 50%;
}
.cadastroProdutos form .editor {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.cadastroProdutos form .editor .dropdownWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 3.5rem;
}
.cadastroProdutos form .editor .dropdownWrapper .dropdown {
  height: 3rem;
  width: 100%;
  font-size: 1.2rem;
}
.cadastroProdutos form .editor .botoes {
  width: 100%;
  margin-bottom: 1rem;
}
.cadastroProdutos form .botoes {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
}
.cadastroProdutos form .botoes .button {
  width: 33%;
  font-size: 1.2rem;
}
.cadastroProdutos .button {
  width: 30%;
  font-size: 1.2rem;
}

.cadastroRequisicoes {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cadastroRequisicoes h1 {
  color: rgb(37, 99, 235);
  margin-top: 5rem;
  font-size: 5rem;
}
.cadastroRequisicoes .button {
  width: 14rem;
  font-size: 1.2rem;
}

.controleUsuarios {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
}
.controleUsuarios .botaoCadastro .button {
  font-size: 1.25rem;
}
.controleUsuarios .checkboxAdmin {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.25rem;
}
.controleUsuarios .checkboxAdmin input {
  width: 1.3rem;
  height: 1.3rem;
  cursor: pointer;
}
.controleUsuarios h1 {
  color: rgb(37, 99, 235);
  margin-top: 5rem;
}
.controleUsuarios table {
  width: 80vw;
  border-collapse: collapse;
  border: 1px solid red;
  background-color: rgb(219, 234, 254);
}
.controleUsuarios table thead tr th {
  background-color: rgb(29, 78, 216);
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}
.controleUsuarios table th, .controleUsuarios table td {
  border: 2px solid rgb(29, 78, 216);
  padding: 10px;
  text-align: center;
  text-align-font-size: 1.2rem;
}
.controleUsuarios table .checkbox div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.controleUsuarios table .checkbox div input {
  width: 1.3rem;
  height: 1.3rem;
  cursor: pointer;
}

.controleRequisicoes {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.controleRequisicoes h1 {
  color: rgb(37, 99, 235);
  margin-top: 5rem;
}
.controleRequisicoes .listaCotacoes table {
  width: 100%;
}
.controleRequisicoes .cotacoesListaWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.controleRequisicoes .cotacoesListaWrapper p {
  color: rgb(37, 99, 235);
  font-size: 1.3rem;
  text-align: center;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  height: 100vh;
}
.home h1 {
  font-size: 7rem;
  color: rgb(29, 78, 216);
  text-align: center;
}
.home h2 {
  font-size: 3rem;
  color: rgb(37, 99, 235);
  text-align: center;
}

.entrar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.entrar p {
  color: rgb(219, 234, 254);
  font-size: 1.3rem;
}
.entrar p span {
  color: rgb(156, 163, 175);
  cursor: pointer;
  font-weight: bold;
}
.entrar p span:hover {
  color: rgb(37, 99, 235);
  text-decoration: underline;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: black;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: fixed;
  width: 100%;
  z-index: 100;
  transition: background-color 0.3s ease-in-out;
}
.menu li {
  list-style: none;
}
.menu li a {
  color: rgb(37, 99, 235);
}

.input {
  display: flex;
  align-items: center;
  height: 3rem;
  background-color: rgb(156, 163, 175);
  margin-top: 0.5rem;
  border-radius: 0.25rem;
  font-size: 1.2rem;
  color: rgb(219, 234, 254);
  padding: 0 0.5rem;
}
.input:focus {
  outline: none;
  box-shadow: var(--tw-ring-inset) 0, 0, 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
}
.input::placeholder {
  color: lightgray;
}

.textarea {
  height: 9rem;
}

.dropdown {
  background-color: rgb(156, 163, 175);
  color: rgb(219, 234, 254);
  border-radius: 0.25rem;
  margin-top: 0.5rem;
  padding: 0.25rem 0.5rem;
  font-size: 0.95em;
  cursor: pointer;
}
.dropdown:hover {
  background-color: rgb(219, 234, 254);
  color: rgb(156, 163, 175);
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  background-color: rgb(37, 99, 235);
  border-radius: 0.25rem;
  margin-top: 2rem;
  font-size: 0.875rem;
  color: rgb(219, 234, 254);
  cursor: pointer;
  padding: 0 1rem;
  border: none;
}
.button:hover {
  background-color: rgb(29, 78, 216);
}

.label {
  margin-top: 0.75rem;
  color: rgb(219, 234, 254);
  font-weight: bold;
  font-size: 1.2rem;
}
.labelCard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login-form h1 {
  color: rgb(219, 234, 254);
  margin-bottom: 2rem;
}
.login-form .button {
  width: 7rem;
  margin: -0.5em 0 2rem 0;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.popup-inner {
  background-color: rgb(219, 234, 254);
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  min-width: 40%;
  min-height: 30%;
  max-width: 80%;
  max-height: 80%;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.popup-inner .labelCard label {
  color: rgb(29, 78, 216);
}
.popup-inner::-webkit-scrollbar {
  display: none;
}
.popup-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  font-size: 1.5rem;
}
.popup-header h2 {
  text-align: center;
  width: 100%;
  color: rgb(37, 99, 235);
}
.popup-closer {
  display: grid;
  width: 100%;
}
.popup-closer button {
  background-color: transparent;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  position: relative;
  justify-self: flex-end;
  color: red;
  margin: -1.5rem -1rem;
}
.popup-closer button:hover {
  color: darkred;
}
.popup-content {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  width: 100%;
}
.popup-content .dropdown {
  width: 100%;
  height: 3rem;
  font-size: 1.2rem;
}
.popup-content .input {
  width: 100%;
  min-width: 35vw;
  font-size: 1.2rem;
}
.popup-content .button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: -1rem;
}
.popup-content .button-container .button {
  font-size: 1.2rem;
}

.listaRequisicoes {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.listaRequisicoes table {
  width: 80vw;
  border-collapse: collapse;
  border: 1px solid red;
  background-color: rgb(219, 234, 254);
}
.listaRequisicoes table thead tr th {
  background-color: rgb(29, 78, 216);
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}
.listaRequisicoes table th, .listaRequisicoes table td {
  border: 2px solid rgb(29, 78, 216);
  padding: 10px;
  text-align: center;
  font-size: 1.2rem;
}
.listaRequisicoes table th .status, .listaRequisicoes table td .status {
  font-weight: bold;
}
.listaRequisicoes table th .aberta, .listaRequisicoes table td .aberta {
  color: rgb(37, 99, 235);
}
.listaRequisicoes table th .emCotacao, .listaRequisicoes table td .emCotacao {
  color: orange;
}
.listaRequisicoes table th .cotada, .listaRequisicoes table td .cotada {
  color: green;
}
.listaRequisicoes table th button, .listaRequisicoes table td button {
  background-color: transparent;
  border: none;
  font-size: 1.4rem;
  cursor: pointer;
}
.listaRequisicoes table th .edit, .listaRequisicoes table td .edit {
  color: blue;
}
.listaRequisicoes table th .delete, .listaRequisicoes table td .delete {
  color: red;
}

/*# sourceMappingURL=App.css.map */
